.App {
  text-align: center;
  background-color: #fffffe;
}


.App>header {
  background-color: #f25f4c;
  border-bottom: 2px solid #0f0e17;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #fffffe;
  font-family: 'Nothing You Could Do', cursive;
  text-transform: uppercase;
  text-shadow: 2px 2px #0f0e17;
}
.App>div{
  background-color: #ff8906;
  margin: 50px;
  padding: 10px;
}